# Build artifacts
dist/
build/
*.egg-info/

# Python cache
__pycache__/

# Log files
*.log

# Node.js dependencies
node_modules/
/st_transformers_js/frontend/build
/st_transformers_js/frontend/public/transformers.min.js
