# Build artifacts
dist/
build/
*.egg-info/
__pycache__/
*.pyc
*.log

# Frontend
node_modules/

# Built component artifacts that get included in package
st_transformers_js/frontend_v1/build/
st_transformers_js/frontend_v2/dist/

# Don't ignore the downloaded transformers.js
!st_transformers_js/frontend_v1/build/transformers.min.js
